<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | absolute_url }}">
</head>
<body>
  <div class="container">
    <header>
  
      <nav>
        <a href="{{ site.baseurl }}/">BLOG</a>
        <a href="{{ site.baseurl }}/#about">ABOUT</a>
      </nav>
    </header>

    <main>
      <div class="content">
        {{ content }}
      </div>
      
      <aside class="sidebar">
        <div class="keywords">
          <div class="keywords-title">JUMP TO</div>
          <div class="keyword"><a href="#introduce-yourself">Introduce Yourself</a></div>
          <div class="keyword"><a href="#about">About</a></div>
          <div class="keyword"><a href="#everybody-struggles">Everybody Struggles</a></div>
          <div class="keyword"><a href="#think-about-your-audience">Think About Your Audience</a></div>
          <div class="keyword"><a href="#mid-point-progress">Mid-Point Progress</a></div>
          <div class="keyword"><a href="#career-opportunities">Career Opportunities</a></div>
          <div class="keyword"><a href="#final-progress">Final Progress</a></div>
        </div>
      </aside>
    </main>

  </div>
</body>
</html>

